server:
  port: 8888

spring:
  application:
    name: config-server

  profiles:
    # ENVIRONMENT
    active: ${APP_ENV:local}

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

logging:
  level:
    root: INFO
    org.springframework.cloud.config: DEBUG
