spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ebuleje-dev/nttd-banking-config-repo
          default-label: main
          search-paths: '{application}'
          clone-on-start: true
          timeout: 10
